.Background {
  position: fixed;
  width: 100vw;
  height: 100vh;

  z-index: -1;
}

.App {
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Logo {
  max-height: 10%;
  fill: var(--text);
}
