@font-face {
  font-family: archiv-grotesk;
  src: url(assets/archiv-grotesk-semi-bold.otf);
}

:root {
  /* VARS */
  --text: #ddd;

  /* FONT */
  font-family: archiv-grotesk, sans-serif;
  color: var(--text);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* BACKGROUND */
  background-color: #000;
}

body {
  margin: 0;
}